


.headerimg {
    height: 400px;
    background-image: url('../../Image/HomeHeader.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 8em;
    position: relative;
}

.headerDetails {
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
    color: white;
}

.proffessionalImg {
    width: 550px;
}

.proffessionalDetails {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.proffessionalDetails div h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.proffessionalDetails div p {
    font-size: 1.5rem;
    letter-spacing: -0.3px;
    margin-bottom: 1em;
}

.proffessionalDetails div div a {
    margin: .5em 0;
}

.proffessionalLinks {
    display: flex;
    flex-direction: column;
}

.proffessionalLinks a {
    margin: .5em 0;
    color: #8e8f90;
    font-size: 0.96rem;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
}

.proffessionalLinks a:hover {
    text-decoration: none;
    color: #ce1d0a;
}

.allWhatWeDo {
    background-image: url('../../Image/WorkBgImage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ServiceDisplays {
    width: 250px;
    height: 200px;
}

.ServiceDisplays h3 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    color: #E9BB4D;
    transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
}

.ServiceDisplays h3:hover {
    color: #fff;
}

.FireFightingImg {
    display: inline-block;
    background-image: url('../../Image/firefighting.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin: 0 5.8em .8em;
}

.AmbulanceImg {
    display: inline-block;
    background-image: url('../../Image/ambulanceservices.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin: 0 5.8em .8em;
}

.RescueImg {
    display: inline-block;
    background-image: url('../../Image/rescueservices.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin: 0 5.8em .8em;
}

.CommunityImg {
    display: inline-block;
    background-image: url('../../Image/communitysafety.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin: 0 5.8em .8em;
}
.SuppressionImg {
    display: inline-block;
    background-image: url('../../Image/firesuppression.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin: 0 5.8em .8em;
}
.MedicalImg {
    display: inline-block;
    background-image: url('../../Image/emergencymedical.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin: 0 5.8em .8em;
}
.InvestigateImg {
    display: inline-block;
    background-image: url('../../Image/fireinvestigation.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin: 0 5.8em .8em;
}
.TaskforceImg {
    display: inline-block;
    background-image: url('../../Image/specialoperationtaskforce.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin: 0 5.8em .8em;
}