* {
  font-size: 15px;
}

.logo {
  width: 150px;
  height: 150px;
  background-image: url(https://i.ebayimg.com/images/g/AdwAAOSwPgxVL5C3/s-l640.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  padding: 1.5em 1em;
}